*.dat
output/
tg_xinxizx/
*.asv
test/*/*.d
test/*/*.dat
test/*/*.txt
test/*/*.kml
test/
src/statis.m
src/add_noise.m
src/*.asv
src/*.ps
src/gmt.*
src/*.png
tide/omap/*.nao
tide/*.out
*.exe
gmt.history
crossover/hy2b.txt
crossover/*.ps
crossover/*.png
crossover/*.conf
doc/*.log
doc/*.aux
doc/*.gz
doc/*.lof
doc/*.out
doc/*.toc
doc/*.pdf