src/cal_wet_pd.m
*.dat
output/
tg_xinxizx/
*.asv
test/hy2_check/*.dat
test/ja2_check/*.dat
test/ja3_check/*.dat
test/hy2_check/*.txt
test/ja2_check/*.txt
test/ja3_check/*.txt
test/hy2_check/*.kml
test/ja2_check/*.kml
test/ja3_check/*.kml
test/hy2_check/*.d
test/ja2_check/*.d
test/ja3_check/*.d
test/s3a_check
test/hy2_checkbias_last_hy2.txt
test/gnss_wet
src/statis.m
src/add_noise.m
src/read_nc__contents.m
src/*.asv
src/*.ps
src/gmt.*
src/*.png
src/*.jpg
src/*.pdf
tide/omap/*.nao
tide/*.out
*.exe
gmt.history
crossover/hy2b.txt
crossover/*.ps
crossover/CROSSHY2/*
crossover/adjust
crossover/*.png
crossover/*.conf
crossover/*.txt
crossover/*.nc
doc/*.log
doc/*.aux
doc/*.gz
doc/*.lof
doc/*.out
doc/*.toc
doc/*.pdf
temp/*
!temp/readme.md
src/test_pressure_dry.m
fes2014/
src/*_zmw.m
data/era5/north
data/era5/middle
data/era5/south
data/era5/4d/north
data/era5/4d/middle
data/era5/4d/south
data/era5/pl_tcwv