*.dat
output/
tg_xinxizx/
*.asv

test/hy2_check
test/ja2_check
test/ja3_check
test/s3a_check
src/statis.m
src/add_noise.m
src/read_nc__contents.m
src/*.asv
src/*.ps
src/gmt.*
src/*.png
src/*.jpg
src/*.pdf
tide/omap/*.nao
tide/*.out
*.exe
gmt.history
crossover/hy2b.txt
crossover/*.ps
crossover/CROSSHY2/*
crossover/adjust
crossover/*.png
crossover/*.conf
crossover/*.txt
crossover/*.nc
doc/*.log
doc/*.aux
doc/*.gz
doc/*.lof
doc/*.out
doc/*.toc
doc/*.pdf
temp/*
!temp/readme.md
